@{
    Layout = null;
}
@using PRGX.SIMTrax.Domain.Util
@model PRGX.SIMTrax.ViewModel.CampaignLogin
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/bundles/css")
    @{
        var themeName = "default";
        if (HttpContext.Current.Application[Constants.ThemeName] != null)
        {
            themeName = HttpContext.Current.Application[Constants.ThemeName] as string;
        }
        bool IsValidUser = (Session[Constants.SESSION_USER] != null) ? true : false;
        var userType = (Session[Constants.SESSION_USER_TYPE] != null) ? (UserType)Session[Constants.SESSION_USER_TYPE] : UserType.None;
        var userTypeValue = (Int16)userType;
        <link href="@Url.Content(String.Format("~/Content/Themes/{0}/Style.less", themeName))" rel="stylesheet" />

        var welcomeMessage = TempData["WelcomeMessage"];
        var userCulture = (Session[Constants.USER_PREFERENCE_CULTURE] != null) ? (System.Globalization.CultureInfo)Session[Constants.USER_PREFERENCE_CULTURE] : PRGX.SIMTrax.Web.Controllers.BaseController.ResolveCulture();
        ViewBag.Title = ReadResource.GetResourceForGlobalization(Constants.HOME, userCulture).ToString();
        Layout = null;
    }
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footer-content {
            margin-top: 0px;
        }

        body {
            background: -webkit-linear-gradient(white, white);
            background: -o-linear-gradient(white, white);
            background: -moz-linear-gradient(white, white);
            /*background: #fff;*/
        }

        .container-login {
            min-height: 480px !important;
            padding-left: 7% !important;
            padding-right: 7% !important;
        }


        .logoText {
            font-size: 16px;
            color: grey;
        }

        .buyerMessage {
            padding-left: 20px;
        }

        .britwik, .britwik:hover, .britwik:active, .britwik:focus {
            background-color: #CC6600 !important;
            color: white;
        }

        .linkText, .linkText:hover {
            color: green;
        }

        pre {
            margin-top: 10px;
            font-size: 14px;
            /*background-color: #fff;*/
            background-color: inherit;
            border: none;
            font-family: inherit;
            margin-left: -8px;
            white-space: pre-wrap !important; /* CSS 3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word;
            word-break: normal;
        }

        .marginTop {
            margin-top: 30px;
        }

        .give-max-width {
        }

        .no_float {
        }

        @@media (max-width: 630px) {
            .give-max-width {
                width: 100% !important;
            }

            .no_float {
                float: none !important;
            }
            /*these work*/
        }

        .landing-footer-text-spacing {
            width: initial;
            margin-right: 30px;
        }

        @@media (max-width: 1000px) {
            .left-margin-footer-content {
                margin-left: 17px;
            }

            .landing-left-margin-footer-content {
                margin-left: 25px;
            }
        }

        @@media (min-width: 671px) and (max-width: 768px) {
            .footer-content-login {
                padding-left: 4%;
            }
        }

        @@media (min-width: 476px) and (max-width: 670px) {
            .footer-content-login {
                padding-left: 6%;
            }
        }

        @@media (max-width: 670px) {
            .padding-bottom-responsive {
                padding-bottom: 20px;
            }
        }

        .client-landing-logo {
            max-width: 390px;
            max-height: 70px;
        }

        @@media(min-width:986px) {
            .client-left-pannel-padding {
                padding-left: 60px;
                padding-right: 0px;
            }

            .client-landing-tick {
                margin-top: 10px;
            }
        }

        .footer-client-landing-login {
            padding-left: 5.5%;
            font-size: 12px;
            padding-top: 5px;
            min-height: 25px;
            position: relative;
            border-top: 1px solid #e2e2e2;
            background-color: #333333;
            color: white;
        }

        @@media(max-width:630px) {
            .client-landing-logo {
                max-width: 300px;
                max-height: 60px;
            }
        }

        @@media(max-width:410px) {
            .client-landing-logo {
                max-width: 200px;
                max-height: 50px;
            }
        }
    </style>
    @Scripts.Render("~/bundles/Content/js")
</head>
<body class="login-body">
    <div style="background-color: #E4E0E0; display: none; margin-bottom: 20px; padding-top: 20px;"
         id="MessagePanel" class="slideit col-md-12">
        <div class="col-md-8 padding-bottom">
            @ReadResource.GetResourceForGlobalization(Constants.COOKIES_MESSAGE, userCulture).ToString()
        </div>
        <div class="col-md-4 padding-bottom">
            <input id="btnAccept" type="button" value="@ReadResource.GetResourceForGlobalization(Constants.ACCEPT, userCulture).ToString()" class="btn btn-color" />
            &nbsp;&nbsp; @ReadResource.GetResourceForGlobalization(Constants.OR, userCulture).ToString() &nbsp;&nbsp;
            <input id="btnReadMore" type="button" value="@ReadResource.GetResourceForGlobalization(Constants.READ_MORE, userCulture).ToString()" class="btn btn-color" onclick="ShowReadMoreDialog()" />
        </div>
    </div>
    <div id="container-landing-page-header" class="navbar navbar-default margin-bottom-zero" role="navigation" style="background: white; height: 124px;">
        <div id="container-login-header" role="navigation" style="margin-left: 7% !important; margin-right: 7% !important">
            <div class="col-md-12 col-sm-12 col-xs-12 navbar-header" style="padding-right: 0px; padding-left: 0px;">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px; padding-right: 0px;">
                    @if (TempData["CampaignLogo"].ToString() != "")
                    {
                        <img src="data:;base64,@TempData["CampaignLogo"]" class="client-landing-logo" id="imgCampaignLogoHeader" />
                    }
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img id="imgLogo" class="img-logo-login hidden-sm hidden-xs" width="200" style="margin-left: 10px; margin-right: 10px;" src='@Url.Content("~/Content/Images/logo/siteLogo.png")' />
                        </li>
                        <li><a onclick="openLandingModelHelp()">@ReadResource.GetResourceForGlobalization(Constants.HELP, userCulture).ToString()</a></li>
                        <li>
                            <a href="http://www.prgx.com/services/supplier-information-management/" target="_blank">
                                @ReadResource.GetResourceForGlobalization(Constants.ABOUT, userCulture).ToString()
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="clearBoth"></div>
    <div id="main_container_campaign_login" class="container-login marginTop">
        <div class="row">
            <div id="Loading" class="loading" style="display: none;">
                <div class="loading-image-div col-lg-offset-5 col-lg-2 col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-2" style="top: 43%;">
                    <img id="loading-image" src="/Content/Images/loading.gif" alt="Loading...">
                </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <div class="col-md-7 col-sm-12 col-xs-12" style="margin-top:20px">
                    <div class="container-white-backgound">
                        <div class="col-md-12 col-sm-12 col-xs-12 page-sub-heading">
                            @ReadResource.GetResourceForGlobalization(Constants.WELCOME, userCulture).ToString() 
                            @ReadResource.GetResourceForGlobalization(Constants.TO_THE, userCulture).ToString() 
                            @TempData["BuyerOrganisation"] 
                            @ReadResource.GetResourceForGlobalization(Constants.SUPPLIER_PORTAL, userCulture).ToString()
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 padding-top-20px">
                            @ReadResource.GetResourceForGlobalization(Constants.WELCOME_TO_OUR_NEW_SUPPLIER_PORTAL, userCulture).ToString()
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 0px">
                            <pre style="width: 100%">@Html.Raw(TempData["WelcomeMessage"])</pre>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span>
                                <a class="SICCodeLink padding-responsive" style="cursor: pointer;" target="FAQ" href="/FAQ">
                                    @ReadResource.GetResourceForGlobalization(Constants.WHY_REGISTER, userCulture).ToString()? 
                                    @ReadResource.GetResourceForGlobalization(Constants.READ_OUR_FAQS, userCulture).ToString()
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 client-left-pannel-padding" style="margin-top: 20px">
                    <div class="col-md-12 col-sm-12 col-xs-12 panel no-border padding-top-header">
                        <div>
                            <h3>@ReadResource.GetResourceForGlobalization(Constants.BEGIN_REGISTRATION, userCulture).ToString()</h3>
                        </div>
                        <div id="divCampaignPreRegLoginOrganisationDetails" class="col-md-12 panel-body">
                            <form id="CampaignPreRegLoginSigninForm">
                                <div class="row">
                                    <div class="row col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.LoginId, new { @class = "font-weight-normal" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row col-md-12 col-sm-12">
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = " form-control" })
                                    </div>
                                </div>
                                <div class="row padding-top">
                                    <div class="row col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.Password, new { @class = "font-weight-normal" })
                                    </div>
                                </div>
                                <div class="row padding-bottom">
                                    <div class="row col-md-12 col-sm-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = " form-control" })
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.CampaignId)
                                @Html.HiddenFor(m => m.BuyerOrganisationName)
                                <div class="row padding-bottom">
                                    <div class="row col-md-5 col-sm-8">
                                        <button id="submitCampaignPreRegLogin" class="col-md-12 btn btn-color">
                                            @ReadResource.GetResourceForGlobalization(Constants.LOGIN, userCulture).ToString()
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="row footer-content-login clearfix">
        <div class="col-md-9 col-sm-9 full-width-footer" style="padding-top: 25px;">
            <div class="col-md-5 col-sm-4 line-height-44 landing-footer-text-spacing left-margin-footer">
                &copy; @ReadResource.GetResourceForGlobalization(Constants.PRGX_GLOBAL_RIGHTS, userCulture).ToString()
            </div>
            <div class="col-md-2 col-sm-5 line-height-44 footer-text-spacing left-margin-footer-content">
                <a target="TermsOfUse" href="/terms-of-use" class="cursor" style="color: white">
                    @ReadResource.GetResourceForGlobalization(Constants.TERMS_OF_USE, userCulture).ToString()
                </a>
            </div>
            <div class="col-md-3 col-sm-5 line-height-44 footer-text-spacing left-margin-footer-content">
                <a target="PrivacyPolicy" href="/privacy-policy" class="cursor" style="color: white">
                    @ReadResource.GetResourceForGlobalization(Constants.PRIVACY_POLICY, userCulture).ToString()
                </a>
            </div>
            <div class="col-md-2 line-height-44 footer-text-spacing left-margin-footer-content">
                <a href="https://www.linkedin.com/company/prgx" target="_blank">
                    <img src="~/Content/Images/logo/linkeldin.png" />
                </a>
                <a href="https://twitter.com/prgxglobal" target="_blank">
                    <img src="~/Content/Images/logo/twitter.png" style="padding-left: 6px" />
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3" style="padding-top: 18px; padding-left: 0px;">
            <img src="~/Content/Images/logo/footer-logo.png" style="width: 200px; padding-bottom: 20px" class="landing-left-margin-footer-content float-img-footer" />
        </div>
    </footer>
</body>
</html>
<div class="modal fade bs-example-modal-sm" data-backdrop="static" id="campaign-login-modal-Help" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content col-md-9 center-modal-help">
            <div class="modal-header">
                <div class="bootstrap-dialog-header">
                    <div class="bootstrap-dialog-close-button" style="display: block;">
                        <button class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="bootstrap-dialog-title">
                        <h4>@ReadResource.GetResourceForGlobalization(Constants.HELP_POP_UP_HEADER, userCulture).ToString()</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body row margin-bottom-15">
                <div class="row col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3 fa fa-envelope fa-opacity fa-3x  col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-7">

                        <div class="contact-panel-text-color">
                            <b>@ReadResource.GetResourceForGlobalization(Constants.EMAIL_US, userCulture).ToString()</b>
                        </div>
                        <a href="mailto:@HttpContext.Current.Application["ContactEmail"]" target="_blank">
                            <span style="color: #7f7f7f;">@HttpContext.Current.Application["ContactEmail"]</span>
                        </a>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 col-xs-12" style="padding-top:30px">
                    <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3  fa fa-phone fa-3x padding-top col-md-offset-1 col-sm-offset-1 col-xs-offset-1 fa-opacity " style="padding-left:20px">
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-7 padding-top">
                        <div class="contact-panel-text-color">
                            <b>@ReadResource.GetResourceForGlobalization(Constants.CALL_US, userCulture).ToString()</b>
                        </div>
                        <span>@HttpContext.Current.Application["ContactNo"]</span>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 col-xs-12" style="padding-top:30px">
                    <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3   padding-top col-md-offset-1 col-sm-offset-1 col-xs-offset-1 fa-opacity ">
                        <img style="width:42px" src="~/Content/Images/FAQ.png" />
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-7" style="padding-top:18px">
                        <b>
                            <a class="contact-panel-text-color hoverLink" style="cursor: pointer;" target="FAQ" href="/FAQ">
                                @ReadResource.GetResourceForGlobalization(Constants.FAQ, userCulture).ToString()
                            </a>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" data-backdrop="static" id="ReadMoreModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <div class="bootstrap-dialog-header">
                    <div class="bootstrap-dialog-close-button" style="display: block;">
                        <button class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="bootstrap-dialog-title">
                        <h4>@ReadResource.GetResourceForGlobalization(Constants.COOKIES, userCulture).ToString()</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">
                <div>
                    @Html.Raw(ReadResource.GetResourceForGlobalization(Constants.COOKIES_READ_MORE_MESSAGE, userCulture).ToString())
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/respond")
@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/Content/js")
<script>
    var userTypeValue = '@userTypeValue';
    $(document).ready(function () {

        if (document.cookie == "") {
            $('#MessagePanel').show();
            $(".slideit").slideUp(1).slideDown('slow');
            $('#MessagePanel').addClass("login-cookie-panel");
            $('#login-header').addClass("header-pos-for-cookie-msg");
        }
        else {
            try {
                if (getCookie("SIMTraxclientSideData") == "True") {
                    $('#MessagePanel').hide();
                    $('body').removeClass("body-no-pad-top");
                    $('#layout-header').removeClass("pos-rel");
                }
                else {
                    $('#MessagePanel').show();
                    $(".slideit").slideUp(1).slideDown('slow');
                    $('#MessagePanel').addClass("login-cookie-panel");
                    $('body').addClass("body-no-pad-top");
                    $('#layout-header').addClass("pos-rel");
                }
            }
            catch (error) {
                $('#MessagePanel').hide();
                $('body').removeClass("body-no-pad-top");
                $('#layout-header').removeClass("pos-rel");
            }
        }

        $('#btnAccept').click(function () {
            document.cookie = "SIMTraxclientSideData=True; expires=Thu, 31 Dec 2020 12:00:00 UTC";
            $('#MessagePanel').hide();
            $('#login-header').removeClass("header-pos-for-cookie-msg");
        });

    });
    function ShowReadMoreDialog() {
        $('#ReadMoreModal').modal('show');
    }
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    $('#submitCampaignPreRegLogin').click(function () {
        $('#Loading').show();
        if (!$('#CampaignPreRegLoginSigninForm').valid()) {
            $('#Loading').hide();
            return false;
        }
        var test = $('#CampaignPreRegLoginSigninForm').serialize();
        $.ajax({
            type: 'post',
            url: '/Campaign/Login',
            data: $('#CampaignPreRegLoginSigninForm').serialize(),
            async: true,
            success: function (response) {
                if (typeof (response) != "undefined") {
                    if (!response.result) {
                        $('#Loading').hide();
                        showErrorMessage(response.message);
                        $('#LoginId').val('');
                        $('#Password').val('');
                    }
                    else {
                        $('#Loading').hide();
                        if (response.message != "") {
                            showInfoMessage(response.message);
                            window.location.href = response.redirectUrl;
                        }
                        else {
                            window.location.href = response.redirectUrl;
                        }
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
        return false;
    });
    function openLandingModelHelp() {
        $('#campaign-login-modal-Help').modal('show');
    }
    function setFooterHeight() {
        var sectionMinHeight = "min-height: ";
        sectionMinHeight += $(window).height() - 254;
        sectionMinHeight += "px !important";
        $('#main_container_campaign_login').attr('style', sectionMinHeight);
    }
    $(window).resize(function () {
        setFooterHeight();
    });
</script>