@model PRGX.SIMTrax.ViewModel.ChangePassword

@{
    var userCulture = (Session[PRGX.SIMTrax.Domain.Util.Constants.USER_PREFERENCE_CULTURE] != null) ? (System.Globalization.CultureInfo)Session[PRGX.SIMTrax.Domain.Util.Constants.USER_PREFERENCE_CULTURE] : PRGX.SIMTrax.Web.Controllers.BaseController.ResolveCulture();
    ViewBag.Title = PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.CHANGE_PASSWORD, userCulture).ToString();
    bool IsValidUser = (Session[PRGX.SIMTrax.Domain.Util.Constants.SESSION_USER] != null) ? true : false;
    var UserType = (Session[PRGX.SIMTrax.Domain.Util.Constants.SESSION_USER_TYPE] != null) 
        ? (PRGX.SIMTrax.Domain.Util.UserType)Convert.ToInt64(Session[PRGX.SIMTrax.Domain.Util.Constants.SESSION_USER_TYPE]) : PRGX.SIMTrax.Domain.Util.UserType.None;
}
@Styles.Render("~/bundles/TipsoCss")
<style>
    .button-width {
        width: 141px;
    }

    .margin-bottom-8 {
        margin-bottom: 8px;
    }

    .full-width {
    }

    .button-seperator {
        position: relative;
        right: 49px;
    }

    .margin-top-13 {
        margin-top: 13px;
    }

    @@media (max-width: 1320px) {
        .button-seperator {
            right: 43px;
        }
    }

    @@media (max-width: 1280px) {
        .button-seperator {
            right: 35px;
        }
    }

    @@media (max-width: 1254px) {
        .button-seperator {
            right: 24px;
        }
    }

    @@media (max-width: 1142px) {
        .button-seperator {
            right: 4px;
        }
    }

    @@media (max-width: 1046px) {
        .button-seperator {
            left: 10px;
        }
    }

    @@media (max-width: 365px) {
        .full-width {
            width: 100%;
        }

        .button-seperator {
            left: 0px;
        }
    }
</style>
<div class="row" id="resetPassword">
    @{
        bool NeedPasswordChange = (Session[PRGX.SIMTrax.Domain.Util.Constants.SESSION_USER] != null) 
            ? Convert.ToBoolean(((PRGX.SIMTrax.Domain.Model.UserDetails)(Session[PRGX.SIMTrax.Domain.Util.Constants.SESSION_USER])).NeedPasswordChange) : false;
        var showOldPassword = (NeedPasswordChange == true) ? "display:none" : "display:block";
    }
    <div class="col-md-12 padding-bottom-header">
        <h3>@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.CHANGE_PASSWORD, userCulture).ToString()</h3>
    </div>
    <div class="col-md-8">
        <div class="container-white-backgound">
            <form id="ResetPasswordForm">
                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.Password)
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-top-question" id="old-password-div" style="@showOldPassword">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.OldPassword)
                        </div>
                        <div class="col-md-7 col-sm-7">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = " form-control" })
                        </div>
                        <div class="col-md-5 paddingError " id="OldPasswordError">
                            <span id="OldPasswordErrorText"></span>
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                    </div>
                    <div class="padding-top-question">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <span id="passwordTipso" class="padding-top-header"></span>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = " form-control" })
                        </div>
                        <div class="col-md-5 paddingError">
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="padding-top-question">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <span id="cnfrmPasswordTipso" class="padding-top-header"></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = " form-control" })
                        </div>
                        <div class="col-md-5 paddingError">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="padding-top-question margin-top-13">
                        <div class="col-md-3  col-sm-3 col-xs-6 margin-bottom-8 full-width">
                            <button class="btn btn-normal button-width" id="cancel">
                                @PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.CANCEL, userCulture).ToString()
                            </button>
                        </div>
                        <div class="col-md-3  col-sm-3 col-xs-6 full-width button-seperator">
                            <button class="btn btn-color" id="changePassword">
                                @PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.CHANGE_PASSWORD, userCulture).ToString()
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs ">
        <div class="container-white-backgound">
            <div class="cnt-us-mar-btm">
                <div class="col-md-12 padding-bottom">
                    <span class="page-sub-heading">
                        @PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.NEED_HELP_CONTACT_US, userCulture).ToString()
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr class="border-style">
            </div>

            <div class="row col-md-12">
                <br>
                <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3 fa fa-envelope fa-opacity fa-3x  col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                </div>
                <div class="col-md-8 col-sm-7 col-xs-7">

                    <div class="contact-panel-text-color">
                        <b>@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.EMAIL_US, userCulture).ToString()</b>
                    </div>
                    <a href="mailto:@HttpContext.Current.Application["ContactEmail"]" target="_blank">
                        <span>@HttpContext.Current.Application["ContactEmail"]</span>
                    </a>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3  fa fa-phone fa-3x padding-top col-md-offset-1 col-sm-offset-1 col-xs-offset-1 fa-opacity">
                </div>
                <div class="col-md-8 col-sm-7 col-xs-7 padding-top">
                    <div class="contact-panel-text-color">
                        <b>@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.CALL_US, userCulture).ToString()</b>
                    </div>
                    <span>@HttpContext.Current.Application["ContactNo"]</span>
                </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
                <div class="contact-panel-font-icons col-md-2 col-sm-3 col-xs-3  padding-top col-md-offset-1 col-sm-offset-1 col-xs-offset-1 fa-opacity">
                    <img style="width:42px" src="~/Content/Images/FAQ.png" />
                </div>
                <div class="col-md-8 col-sm-7 col-xs-7" style="padding-top:18px;">
                    <b>
                        <a class="contact-panel-text-color hoverLink" style="cursor: pointer;" target="FAQ" href="/FAQ">
                            @PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.READ_OUR_FAQS, userCulture).ToString()
                        </a>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Tipso")
<script>
    var passwordShouldContainAtleast = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.PASSWORD_SHOULD_CONTAIN_ATLEAST, userCulture).ToString()';
    var passwordResetFailed = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.PASSWORD_RESET_FAIL, userCulture).ToString()';
    var oneUpperCaseLetter = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.ONE_UPPER_CASE_LETTER, userCulture).ToString()';
    var oneLowerCaseLetter = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.ONE_LOWER_CASE_LETTER, userCulture).ToString()';
    var oneNumber = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.ONE_NUMBER, userCulture).ToString()';
    var oneSpecialCharacter = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.ONE_SPECIAL_CHARACTER, userCulture).ToString()';
    var passwordLengthErrorMessage = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.PASSWORD_LENGTH, userCulture).ToString()';
    var startOrEndWithSpaces = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.PASSWORD_SHOULD_NOT_START_OR_END_WITH_SPACES, userCulture).ToString()';
    var passwordGuidelines = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.PASSWORD_GUIDELINES, userCulture).ToString()';
    var enterCorrectPassword = '@PRGX.SIMTrax.Domain.Util.ReadResource.GetResourceForGlobalization(PRGX.SIMTrax.Domain.Util.Constants.ENTER_CORRECT_PASSWORD, userCulture).ToString()';
</script>
@Scripts.Render("~/bundles/ResetPassword")
